:root {
  --background: #F5F6F8;
  --black: #3B434E;
  --white: #FBFBFB;
  --primary: #7853FC;
  --red: #FC836D;
  --green: #1DC37E;
  --green-light: #C8F8E4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--black);
  background: var(--background);
}
